.as-horizontal > .as-split-area {
  position: relative;
}
.collapse-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #7880c4;
  border: none;
  position: absolute;
  top: 10%;
  cursor: pointer;
  left: -30px;
}
